.mobile-nav {
  background-color: black;
  color: white;
}

.nav-button {
  padding: 4px 8px;
  margin-right: 10px;
}

.nav-button:hover {
  background-color: white;
  color: black;
  border-radius: 3px;
  transition-duration: 0.3s;
  cursor: pointer;
}

.nav-dropdown-wrapper:hover {
  cursor: pointer;
}
